<div  id="d1" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Dodawanie potrzeby</h2>
        <form [formGroup]="needForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="category">Kategoria</label>
            <select formControlName="category" class="form-control">
              <option *ngFor="let c of categories" [value]="c.value">{{c.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Opis</label>
            <textarea type="text" formControlName="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && needForm.controls.description.errors }"></textarea>
            <div *ngIf="submitted && needForm.controls.description.errors" class="invalid-feedback">
              <div *ngIf="needForm.controls.description.errors.required">Opis jest wymagany</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Dodaj
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
