    
    h2{
        font-size: 40px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        
    
        color: rgb(250, 252, 249);
        text-shadow:  0 0 0.3em black ;
    }
    
label {
        font-size: 24px;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
    
        color: rgb(250, 252, 249);
        text-shadow: 0 0 0.3em black ;
        text-align: left;
}
.container{
        border: 5px solid white; 
        color: white;
        text-shadow: 0 0 0.3em black ;
        border-radius: 10px;
        box-shadow: 5px 5px 10px black;
        background-color: rgba(243, 241, 241, 0.247);
        margin-top: 135px; 
        margin-bottom: 135px;
}

select, textarea{
        box-shadow: 3px 3px 5px black;
}