
table {
    margin-top: 10px;
    /*box-shadow: 5px 5px 10px */
}

#n1 {
    background-color: hotpink;
    color: white;
    border-top: 1px solid purple;
}

th, td {

  padding: 15px;
  text-align: left;
  border-bottom: 1px solid indigo;
}
tr:hover {background-color: pink;}

.fa{
  margin-left: 5px;
  margin-right: 5px;
}

.fa-info-circle {
	color: #0000ff;
}

.fa-info-circle:hover {
	color: #5555ff;
}

.fa-trash {
	color: #ff0000;
}

.fa-trash:hover {
	color: #ff5555;
}
