

#p1 {
    font-size: 40px;

    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

    color: rgb(250, 246, 249);
    text-shadow: 0px 3px 0.3px black ;

    margin-top: 170px;
}
#l1{
  border: 1px solid rgb(139, 139, 139);
  box-shadow: 5px 5px 10px black;
  background-color: rgba(255, 255, 255, 0.425);
  font-size: 20px;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: rgb(253, 251, 251);
  text-shadow: 0 0 0.3em black ;
  border-radius: 7px;
  padding: 10px;
}

#p2{
    font-size: 30px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;

    color: rgb(250, 252, 249);
    text-shadow: 0 0 0.3em black ;
}

#h2{
  font-size: 40px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;

  color: rgb(250, 252, 249);
  text-shadow: 0 0 0.3em black ;
}



