<div id="s1" class="text-center">
  <div class="container">
    <div>

      <p id="p1">"Kiedy pomagamy innym, pomagamy sobie, ponieważ wszelkie dobro, które dajemy, zatacza koło i wraca do
        nas"</p>
      <p id="p2">
        Witaj <strong *ngIf="currentUser">{{currentUser.firstName}} {{currentUser.lastName}}!</strong>
      </p>
      <!--
    <p id="p2">
      Rola: <strong>{{currentUser.role}}</strong>
    </p>
    -->
      <a href="#list" id="l1" class="btn  m-2">Lista</a>
      <a href="#mapsection" id="l1" class="btn  m-2">Mapa</a>
    </div>

    <!-- <h1 class="jumbotron-heading; text-center"  style="margin-bottom: 30px;">Potrzebujący</h1> -->
    <div id="list" style="margin-top: 300px; padding-top: 100px;">
      <h2 id="p2">Lista potrzeb w twojej okolicy</h2>
      <app-needs-list [needs]="needs" [parent]="'home'"></app-needs-list>
    </div>

    <div id="mapsection" style="height: 800px; margin-top: 400px; margin-bottom: 100px; padding-top: 100px;">
      <h2 id="p2">Mapa potrzeb w twojej okolicy</h2>
      <app-map [needs]="needs"></app-map>
    </div>
  </div>
</div>
