<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Rejestracja</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">Imię</label>
          <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerForm.controls.firstName.errors }" />
          <div *ngIf="submitted && registerForm.controls.firstName.errors"
            style="font-size: 20px; color: rgb(250, 100, 100); text-shadow: 0 0 0.3em black ;">
            <div *ngIf="registerForm.controls.firstName.errors.required">Imię jest wymagane</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Nazwisko</label>
          <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerForm.controls.lastName.errors }" />
          <div *ngIf="submitted && registerForm.controls.lastName.errors"
            style="font-size: 20px; color: rgb(250, 100, 100); text-shadow: 0 0 0.3em black ;">
            <div *ngIf="registerForm.controls.lastName.errors.required">Nazwisko jest wymagane</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }" />
          <div *ngIf="submitted && registerForm.controls.email.errors"
            style="font-size: 20px; color: rgb(250, 100, 100); text-shadow: 0 0 0.3em black ;">
            <div *ngIf="registerForm.controls.email.errors.required">E-mail jest wymagany</div>
            <div *ngIf="registerForm.controls.email.errors.email">E-mail jest niepoprawny</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Numer telefonu</label>
          <input type="text" formControlName="phoneNumber" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerForm.controls.phoneNumber.errors }" />
          <div *ngIf="submitted && registerForm.controls.phoneNumber.errors"
            style="font-size: 20px; color: rgb(250, 100, 100); text-shadow: 0 0 0.3em black ;">
            <div *ngIf="registerForm.controls.phoneNumber.errors.required">Numer telefonu jest wymagany</div>
            <div *ngIf="registerForm.controls.phoneNumber.errors.pattern">Numer telefonu jest niepoprawny</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }" />
          <div *ngIf="submitted && registerForm.controls.password.errors"
            style="font-size: 20px; color: rgb(250, 100, 100); text-shadow: 0 0 0.3em black ;">
            <div *ngIf="registerForm.controls.password.errors.required">Hasło jest wymagane</div>
            <div *ngIf="registerForm.controls.password.errors.minlength">Hasło musi mieć przynajmniej 6 znaków</div>
          </div>
        </div>
        <div class="form-group">
          <label for="role">Rola</label>
          <select formControlName="role" class="form-control">
            <option *ngFor="let r of roles" [value]="r.value">{{r.name}}</option>
          </select>
        </div>
        <label>Podaj swoją lokalizację.
          <br />Potrzebujemy jej, żeby odnaleźć wolontariuszy lub potrzebujących z twojej okolicy
          <br />Ustaw znacznik w odpowiednim miejscu <i class="fa fa-smile-o" aria-hidden="true"></i>
        </label>
        <div class="map" id="map" class="match-parent"></div>
        <div *ngIf="submitted && latitude==null"
          style="font-size: 20px; color: rgb(250, 100, 100); text-shadow: 0 0 0.3em black ;">
          <div>Zaznacz miejsce zamieszkania na mapie</div>
        </div>
        <div class="form-group">
          <button id="b1" [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Rejestruj
          </button>
          <a id="z1" routerLink="/login" class="btn btn-link">Wróć</a>
        </div>
      </form>
    </div>
  </div>
</div>
